<div class="container">
  <div class="col-md-offset-5 col-md-4 col-sm-10" style="
    border-left-width: 100px;
    padding-left: 0px;
    margin-left: 350px;
    padding-right: 0px;
    margin-top: 100px;">
<h2>マイアカウント</h2>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true,class: "form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :パスワード %> <i>(変更したくない場合は、空欄のままにしてください)</i><br />
    <%= f.password_field :password, autocomplete: "off",class: "form-control"%>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> 文字以内</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :パスワードの確認 %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off",class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :現在のパスワード%> <i>(変更後のパスワードを入力してください)</i><br />
    <%= f.password_field :current_password, autocomplete: "off",class: "form-control"%>
  </div>

  <div class="actions">
    <%= f.submit "更新",class: "btn btn-primary btn-block" %>
  </div>
<% end %>



<p>アカウントを消しますか？<%= button_to "消去", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "戻る", :back,class: "btn btn-primary btn-block" %>
</div>
</div>
