<!DOCTYPE html>
<html>
  <head>
    <title>Coffeeee</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="nav">
    <button type="button" class="btn btn-outline-dark"><%= link_to 'Home', beans_path %></button>
    <button type="button" class="btn btn-outline-dark">このサイトについて</button>
     <% if user_signed_in? %>
      <<button type="button" class="btn btn-outline-dark"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></button>
      <<button type="button" class="btn btn-outline-dark"><%= link_to 'マイページ', edit_user_registration_path %></button>
      <% else %>
    <button type="button" class="btn btn-outline-dark"><%= link_to 'ログイン', new_user_session_path %></button>
    <button type="button" class="btn btn-outline-dark"><%= link_to 'サインアップ', new_user_registration_path %></button>

        <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
